.student-container {
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  